<div id="header-container">
  <div id="header-content">
    <div id="hamburger" (click)="hamburgerClick()" *ngIf="!showSideMenu">
      <i class="fas fa-bars"></i>
    </div>

    <div class="container">
      <div class="row no-gutters">
        <div class="col-md" id="logo-column">
          <div id="logo-container">
            <a [routerLink]="'/'"
              ><img
                src="../../../assets/images/logo.png"
                alt="Logo"
                class="mx-auto logo"
            /></a>
          </div>
        </div>

        <div class="col-md">
          <ul class="list-inline">
            <li
              class="list-inline-item"
              *ngFor="let menuItem of menuItems"
              [routerLink]="menuItemAsRoute(menuItem)"
              [innerText]="menuItem"
            ></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div [hidden]="!initialHamburgerClickOccurred">
  <div
    id="mobile-side-bar"
    [ngClass]="mobileMenuClass"
    (clickOutside)="outsideMenuClick()"
  >
    <p id="close"><i class="fas fa-times" (click)="closeClick()"></i></p>
    <ul class="list-inline">
      <li
        (click)="closeClick()"
        *ngFor="let menuItem of menuItems"
        [routerLink]="menuItemAsRoute(menuItem)"
        [innerText]="menuItem"
      ></li>
    </ul>
  </div>
</div>
