@import '../globals';

$header-padding: 0.5em;
$header-desktop-height: 5em;
$logo-height: 3.125em;

#header-container {
  padding: $header-padding 0;
  background: $white;
  color: $black;

  @media only screen and (min-width: map-get($grid-breakpoints, md)) {
    height: $header-desktop-height;
    line-height: $header-desktop-height - ($header-padding * 2);
  }
}

#header-content {
  position: relative;
}

#logo-container {
  max-width: 241px;
  margin: 0 auto;
}

#hamburger {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 34px;
  cursor: pointer;
  z-index: 100;
  color: $dark-theme-color;

  @media only screen and (min-width: map-get($grid-breakpoints, md)) {
    display: none;
  }
}

#mobile-side-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 15em;
  height: 100%;
  background: $dark-theme-color;
  opacity: 0.9;
  color: $white;
  z-index: 101;

  @media only screen and (min-width: map-get($grid-breakpoints, md)) {
    display: none;
  }

  #close {
    text-align: right;
    padding-right: 10px !important;
    font-size: 32px;
    cursor: pointer;
  }
  
  li {
    $menu-item-height: 60px;
    display: block;
    height: $menu-item-height;
    line-height: $menu-item-height;
    text-align: center;
    color: $white;
    border-top: 1px solid $light-theme-color;
    cursor: pointer;

    &:last-of-type {
      border-bottom: 1px solid $light-theme-color;
    }

    &:hover {
      color: $light-theme-color;
    }
  }
}

i {
  &:hover {
    color: $light-theme-color;
  }
}

img {
  display: block;

  @media only screen and (min-width: map-get($grid-breakpoints, md)) {
    margin-top: ($header-desktop-height - $logo-height)/4;
  }
}

#logo-column {
  @media only screen and (min-width: map-get($grid-breakpoints, md)) {
    flex: 0 0 245px;
  }
}

.container {
  ul {
    display: none;

    @media only screen and (min-width: map-get($grid-breakpoints, md)) {
      margin-top: 0 !important;
      text-align: right;
      display: block;
    }
  }

  li {
    margin-right: 0.5rem !important;
    cursor: pointer;

    &:hover {
      color: $light-theme-color;
    }

    @media only screen and (min-width: map-get($grid-breakpoints, md)) {
      margin: 0 !important;
      padding-left: 1em !important;
    }

    @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
      padding-left: 2em !important;
    }
  }
}
