$light-theme-color: #36bfbb;
$dark-theme-color: #00514d;
$gray-theme-color: #787878;
$dark-overlay-color: #353839;

$white: #fff;
$black: #000;
$error-red: #dd514b;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$footer-height: 200px;
