<app-banner></app-banner>

<div class="container">
  <h2>
    This would be a great place to put some content!
  </h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Felis donec et odio
    pellentesque diam volutpat commodo. Ultricies lacus sed turpis tincidunt.
    Integer feugiat scelerisque varius morbi enim. A diam sollicitudin tempor id
    eu nisl. Consequat nisl vel pretium lectus quam id leo. Etiam dignissim diam
    quis enim lobortis scelerisque fermentum. Sit amet facilisis magna etiam
    tempor. Pellentesque adipiscing commodo elit at imperdiet dui accumsan sit
    amet. Et netus et malesuada fames ac turpis egestas sed. Neque convallis a
    cras semper auctor neque vitae tempus. Pretium nibh ipsum consequat nisl vel
    pretium lectus quam id. Iaculis urna id volutpat lacus laoreet non. Ut
    tristique et egestas quis.
  </p>

  <div class="row" id="fonts">
    <div class="col-lg-2" *ngFor="let iconClass of iconClasses">
      <p>
        <i [ngClass]="iconClass"></i>
      </p>
    </div>
  </div>
</div>
